/* ========================================================================== */
/* ======================= À≈Õ“¿ ¿ “»¬ÕŒ—“» ================================= */
/* ========================================================================== */
.action_friends{
	position:relative;
	margin:0 0 10px 0;
	border-collapse: separate;
}
.action_friends td {
    background-color: #ECF2F4;
	border-left:1px #ECF2F4 solid;
	border-right:1px #ECF2F4 solid;
	border-top:1px #ECF2F4 solid;
    padding: 5px 0;
	vertical-align: middle;
	text-align:center;
}
.action_fr {
	vertical-align: middle;
}
.action_friends td.selected {
    background-color: #FFFFFF;
	border-color:#BFE5FF;
}
.arr_btn {
    text-decoration: none;
	font-size:40px;
}
.action_fr img {
}
.mod_act_all{
    padding:1px;
    padding-left:20px;
    background:url(../images/icons/actions.png) no-repeat;
    color:#FBDB4F;
}
.actions_list{
    clear:both;
}

.action_entry{
    padding-left:25px;
    margin-bottom:15px;    
}

.action_entry .is_new { color:#FF5A00; }

.action_user{
    color:#375E93;
    font-weight:bold;
}

.action_title{
    font-size:14px;
}

.action_date{
    float:right;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size:11px;
    color:#5F98BF;
}

.action_details{
    clear:both;
    //clear:none;
    color:gray;
	overflow:hidden;
}

.action_details .act_photo{
    overflow:hidden;
    display:inline-block;
}

.act_add_comment{ background:url(../images/icons/actions/add_comment.png) no-repeat left 3px; }
.act_add_photo{ background:url(../images/icons/actions/add_photo.png) no-repeat left 3px; }
.act_add_article{ background:url(../images/icons/actions/add_article.png) no-repeat left 3px; }
.act_set_status{ background:url(../images/icons/actions/set_status.png) no-repeat left 3px; }
.act_add_friend{ background:url(../images/icons/actions/add_friend.png) no-repeat left 3px; }
.act_add_blog{ background:url(../images/icons/actions/add_blog.png) no-repeat left 3px; }
.act_add_post{ background:url(../images/icons/actions/add_post.png) no-repeat left 3px; }
.act_add_board{ background:url(../images/icons/actions/add_board.png) no-repeat left 3px; }
.act_add_catalog{ background:url(../images/icons/actions/add_catalog.png) no-repeat left 3px; }
.act_add_club{ background:url(../images/icons/actions/add_club.png) no-repeat left 3px; }
.act_add_club_user{ background:url(../images/icons/actions/add_club_user.png) no-repeat left 3px; }
.act_add_quest{ background:url(../images/icons/actions/add_quest.png) no-repeat left 3px; }
.act_add_fpost{ background:url(../images/icons/actions/add_fpost.png) no-repeat left 3px; }
.act_add_thread{ background:url(../images/icons/actions/add_thread.png) no-repeat left 3px; }
.act_add_avatar{ background:url(../images/icons/actions/add_avatar.png) no-repeat left 3px; }
.act_add_award{ background:url(../images/icons/actions/add_award.png) no-repeat left 3px; }
.act_add_file{ background:url(../images/icons/actions/add_file.png) no-repeat left 3px; }
.act_add_wall{ background:url(../images/icons/actions/add_wall.png) no-repeat left 3px; }
.act_add_wall_club{ background:url(../images/icons/actions/add_wall_club.png) no-repeat left 3px; }
.act_add_post_club{ background:url(../images/icons/actions/add_post_club.png) no-repeat left 3px; }
.act_add_user_photo{ background:url(../images/icons/actions/add_user_photo.png) no-repeat left 3px; }
.act_add_user_photo_multi{ background:url(../images/icons/actions/add_user_photo_multi.png) no-repeat left 3px; }
.act_add_user{ background:url(../images/icons/actions/add_user.png) no-repeat left 3px; }
.act_add_wall_my{ background:url(../images/icons/actions/add_wall_my.png) no-repeat left 3px; }